@inject IPassportDataService passportData
@inject NavigationManager UriHelper

<h2>@DistrictName: пасспорт района</h2>
@if(passport == null)
{
    <h3>Загружается...</h3>
}
else
{
    <EditForm Model= "@passport" OnValidSubmit="HandleValidSubmit">
        <div class="container">
            <div class="d-flex bd-highlight mb-3">
              <div class="p-2 bd-highlight">
                  <label class="col-form-label">Год:</label>
              </div>
              <div class="p-2 bd-highlight">
                  <InputNumber @bind-Value="SelectedYear" class="form-control"/>
              </div>
              <div class="p-2 bd-highlight">
                   <select @bind="SelectedQuater" class="dropdown-header">
                     <option value=1>I - квартал</option>
                     <option value=2>II - квартал</option>
                     <option value=3>III - квартал</option>
                     <option value=4>IV - квартал</option>
                   </select>
              </div>
              <div class="p-2 bd-highlight">
                  <InputDate @bind-Value="passport.EntryDate" class="form-control" disabled="true"></InputDate>
              </div>
              @if(passpCollection.Count > 0)
              {
                <div class="ms-auto p-2 bd-highlight">
                    <button class="btn btn-outline-info" @onclick=@GoToOverviewPage>Данные за все время</button>
                </div>                
              }
            </div>

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>I. Семья</th>
                  <th>Данные</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1.Численность населения</td>
                  <td><InputNumber @bind-Value="passport.DistrPopulation" class="form-control"/></td>
                </tr>
                <tr>
                  <td>2. Количество заключенных браков с начала календарного года</td>
                  <td><InputNumber @bind-Value="passport.Marriages" class="form-control"/></td>
                </tr>
                <tr>
                  <td>3. Количество разводов с начала календарного года</td>
                  <td><InputNumber @bind-Value="passport.Divorces" class="form-control"/></td>
                </tr>
                <tr>
                  <td>4. Количество многодетных семей</td>
                  <td><InputNumber @bind-Value="passport.LargeFamilies" class="form-control"/></td>
                </tr>
                <tr>
                  <td colspan="2">5. Количество родителей:</td>
                </tr>
                <tr>
                  <td style="padding-left:50px"> - лишенных родительских правах</td>
                  <td><InputNumber @bind-Value="passport.ParentsDeprivedPr" class="form-control"/></td>
                </tr>
                <tr>
                  <td style="padding-left:50px"> - ограниченных в родительских правах</td>
                  <td><InputNumber @bind-Value="passport.ParentsLimitedPr" class="form-control"/></td>
                </tr>
                <tr>
                  <td style="padding-left:50px"> - восстановленных в родительских правах</td>
                  <td><InputNumber @bind-Value="passport.ParentsRestoredPr" class="form-control"/></td>
                </tr>
                <tr>
                  <td>6. Количество родителей, состоящих на межведомственном учете (СОП)</td>
                  <td><InputNumber @bind-Value="passport.SopParents" class="form-control"/></td>
                </tr>
                <tr>
                  <td style="padding-left:50px"> - количество в них детей</td>
                  <td><InputNumber @bind-Value="passport.SopChildren" class="form-control"/></td>
                </tr>
                <tr>
                  <td>7. Количество исполнительных производств по алиментам</td>
                  <td><InputNumber @bind-Value="passport.AlimonyEP" class="form-control"/></td>
                </tr>
                <tr>
                  <td style="padding-left:50px"> - количество должников</td>
                  <td><InputNumber @bind-Value="passport.AlimonyDebtors" class="form-control"/></td>
                </tr>
                <tr>
                  <td>8. Сумма долга по алиментам (руб.)</td>
                  <td><InputNumber @bind-Value="passport.AlimonySumm" class="form-control"/></td>
                </tr>
                <tr>
                  <td>9. Количество родителей, состоящих на профилактическом учете</td>
                  <td><InputNumber @bind-Value="passport.OnPrevRecords" class="form-control"/></td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th colspan="2">II. Дети</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1. Количество детского населения (до 18 лет)</td>
                  <td><InputNumber @bind-Value="passport.ChildPopulation" class="form-control"/></td>
                </tr>
                <tr>
                  <td>2. Число родившихся  детей с начала календарного года</td>
                  <td><InputNumber @bind-Value="passport.Newborns" class="form-control"/></td>
                </tr>
                <tr>
                  <td>3. Количество умерших  детей до 1 года с начала календарного года</td>
                  <td><InputNumber @bind-Value="passport.NewbornsDeaths" class="form-control"/></td>
                </tr>
                <tr>
                  <td>4. Количество детей, умерших от воздействия внешних факторов, с начала календарного года</td>
                  <td><InputNumber @bind-Value="passport.ChildDeathsExternals" class="form-control"/></td>
                </tr>
                    <tr>
                      <td style="padding-left:50px">В том числе: &nbsp;&nbsp;&nbsp; - ДТП</td>
                      <td><InputNumber @bind-Value="passport.CdMva" class="form-control"/></td>
                    </tr>
                    <tr>
                      <td style="padding-left:170px"> - Утопление</td>
                      <td><InputNumber @bind-Value="passport.CdDrowned" class="form-control"/></td>
                    </tr>
                    <tr>
                      <td style="padding-left:170px"> - Пожары </td>
                      <td><InputNumber @bind-Value="passport.CdFire" class="form-control"/></td>
                    </tr>
                <tr>
                  <td>5. Количество суицидов  среди детей с начала календарного года</td>
                  <td><InputNumber @bind-Value="passport.ChildSuicides" class="form-control"/></td>
                </tr>
                <tr>
                  <td>6. Количество покушений на суицид среди детей с начала календарного года</td>
                  <td><InputNumber @bind-Value="passport.ChildSuicideAttempts" class="form-control"/></td>
                </tr>
                <tr>
                  <td>7. Количество несовершеннолетних, состоящих на межведомственном учете (СОП)</td>
                  <td><InputNumber @bind-Value="passport.SopMinors" class="form-control"/></td>
                </tr>
                <tr>
                  <td>8. Количество детей-инвалидов</td>
                  <td><InputNumber @bind-Value="passport.DisabledChildren" class="form-control"/></td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th colspan="2">III. ДОУ</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1. Количество дошкольников</td>
                  <td><InputNumber @bind-Value="passport.Preschoolers" class="form-control"/></td>
                </tr>
                <tr>
                  <td>2. Количество дошкольных образовательных организаций</td>
                  <td><InputNumber @bind-Value="passport.PreschoolEducationals" class="form-control"/></td>
                </tr>
                <tr>
                  <td style="padding-left:50px"> - из них, осуществляющих деятельность в отсутствии лицензии на образовательную деятельность</td>
                  <td><InputNumber @bind-Value="passport.PreEdUnlicensed" class="form-control"/></td>
                </tr>
                <tr>
                  <td>3. Количество детей в очереди в ДОУ</td>
                  <td><InputNumber @bind-Value="passport.ChildlinePreschool" class="form-control"/></td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th colspan="2">IV. Школы</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1. Количество общеобразовательных организаций</td>
                  <td><InputNumber @bind-Value="passport.Schools" class="form-control"/></td>
                </tr>
                <tr>
                  <td style="padding-left:50px"> - из них, осуществляющих деятельность в отсутствии лицензии на образовательную деятельность</td>
                  <td><InputNumber @bind-Value="passport.SchUnlicensed" class="form-control"/></td>
                </tr>
                <tr>
                  <td>2. Количество учащихся с 1 по 4 класс</td>
                  <td><InputNumber @bind-Value="passport.Graders1to4" class="form-control"/></td>
                </tr>
                <tr>
                  <td>3. Количество учащихся с 5 по 11 класс</td>
                  <td><InputNumber @bind-Value="passport.Graders5to11" class="form-control"/></td>
                </tr>
                <tr>
                  <td>4. Количество учащихся, обучающихся в форме семейного образования и самообразования</td>
                  <td><InputNumber @bind-Value="passport.SelfEducated" class="form-control"/></td>
                </tr>
                <tr>
                  <td style="padding-left:50px"> - из них прикреплены к общеобразовательным организациям в районе</td>
                  <td><InputNumber @bind-Value="passport.SedAttached" class="form-control"/></td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th colspan="2">V. СУЗы</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1. Количество образовательных организаций среднего профессионального образования (колледжи, техникумы)</td>
                  <td><InputNumber @bind-Value="passport.Colleges" class="form-control"/></td>
                </tr>
                <tr>
                  <td style="padding-left:50px"> - из них, осуществляющих деятельность в отсутствии лицензии на образовательную деятельность</td>
                  <td><InputNumber @bind-Value="passport.ClgsUnlicensed" class="form-control"/></td>
                </tr>
                <tr>
                  <td>2. Количество учащихся колледжей, техникумов</td>
                  <td><InputNumber @bind-Value="passport.CollegeStudents" class="form-control"/></td>
                </tr>
                <tr>
                  <td style="padding-left:50px"> - из них иностранных граждан </td>
                  <td><InputNumber @bind-Value="passport.ClgsForeigners" class="form-control"/></td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th colspan="2">VI. ВУЗы</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1. Количество ВУЗов</td>
                  <td><InputNumber @bind-Value="passport.Universities" class="form-control"/></td>
                </tr>
                <tr>
                  <td style="padding-left:50px"> - из них, осуществляющих деятельность в отсутствии лицензии на образовательную деятельность</td>
                  <td><InputNumber @bind-Value="passport.UnvUnlicensed" class="form-control"/></td>
                </tr>
                <tr>
                  <td>2. Количество студентов</td>
                  <td><InputNumber @bind-Value="passport.Students" class="form-control"/></td>
                </tr>
                <tr>
                  <td style="padding-left:50px"> - из них иностранных граждан </td>
                  <td><InputNumber @bind-Value="passport.StForeigners" class="form-control"/></td>
                </tr>
                <tr>
                  <td>3. Количество общежитий</td>
                  <td><InputNumber @bind-Value="passport.Dormitories" class="form-control"/></td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th colspan="2">VII. Дети-сироты</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1. Количество детей-сирот</td>
                  <td><InputNumber @bind-Value="passport.Orphans" class="form-control"/></td>
                </tr>
                <tr>
                  <td>2. Количество приемных семей</td>
                  <td><InputNumber @bind-Value="passport.FosterFamilies" class="form-control"/></td>
                </tr>
                <tr>
                  <td>3. Количество приемных детей</td>
                  <td><InputNumber @bind-Value="passport.FosterKids" class="form-control"/></td>
                </tr>
                <tr>
                  <td>4. Количество возвращенных из приемных семей (опекунов) детей с начала календарного года</td>
                  <td><InputNumber @bind-Value="passport.FosterKidsReturned" class="form-control"/></td>
                </tr>
                <tr>
                  <td style="padding-left:50px"> - из них: по инициативе приемных родителей органов опеки </td>
                  <td><InputNumber @bind-Value="passport.FkretByFamilies" class="form-control"/></td>
                </tr>
                <tr>
                  <td>6. Количество детских домов (приютов) для детей-сирот</td>
                  <td><InputNumber @bind-Value="passport.Orphanages" class="form-control"/></td>
                </tr>
                <tr>
                  <td>7. Количество воспитанников детских домов и приютов</td>
                  <td><InputNumber @bind-Value="passport.LivingInOrphanages" class="form-control"/></td>
                </tr>
                <tr>
                  <td>8. Количество детей, воспитываемых в семьях опекунов</td>
                  <td><InputNumber @bind-Value="passport.RaisedByGuardians" class="form-control"/></td>
                </tr>
                <tr>
                  <td>9. Количество усыновленных детей с начала календарного года</td>
                  <td><InputNumber @bind-Value="passport.Adopted" class="form-control"/></td>
                </tr>
                <tr>
                  <td>10. Количество детей-сирот, достигших возраста 18 лет, нуждающихся и не обеспеченных жильем</td>
                  <td><InputNumber @bind-Value="passport.HomelessAt18" class="form-control"/></td>
                </tr>
                <tr>
                  <td>11. Количество детей-сирот, обеспеченных жильем, с начала календарного года</td>
                  <td><InputNumber @bind-Value="passport.HousingAt18" class="form-control"/></td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th colspan="2">VIII. Преступность несовершеннолетних и в отношении них</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1. Количество преступлений, совершенных несовершеннолетними</td>
                  <td><InputNumber @bind-Value="passport.CrimesByMinors" class="form-control"/></td>
                </tr>
                <tr>
                  <td>2. Количество преступлений, совершенных в отношении несовершеннолетних</td>
                  <td><InputNumber @bind-Value="passport.CrimesAgainstMinors" class="form-control"/></td>
                </tr>
                <tr>
                  <td>3. Количество лиц, совершивших преступления, не достигших возраста уголовной ответственности</td>
                  <td><InputNumber @bind-Value="passport.ConvictedMinors" class="form-control"/></td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th>IX. Количество административных правонарушений, совершенных несовершеннолетними</th>
                  <th><InputNumber @bind-Value="passport.AdmoffensesByMinors" class="form-control"/></th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th>X. Количество детей, состоящих на профилактическом учете в отделе ПДН</th>
                  <th><InputNumber @bind-Value="passport.PdnRegistered" class="form-control"/></th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th colspan="2">XI. Количество детей, состоящих на учете за употребление:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="padding-left:50px"> - наркотических средств, психотропных веществ</td>
                  <td><InputNumber @bind-Value="passport.RegisteredDrugs" class="form-control"/></td>
                </tr>
                <tr>
                  <td style="padding-left:50px"> - алкоголя</td>
                  <td><InputNumber @bind-Value="passport.RegisteredAlcohol" class="form-control"/></td>
                </tr>
              </tbody>
            </table>
            <div>

            <InputTextArea @bind-Value="passport.Comments" style="width: 100%;" placeholder="Примечание">
            </InputTextArea >
            <div class="p-2 bd-highlight float-start">
                  <InputDate @bind-Value="passport.EntryDate" class="form-control"></InputDate>
            </div>
            </div>
                    <p class="h3 text-success text-end">@resultMsg</p>
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>
                    <button class="btn btn-outline-primary btn-lg float-end" type="submit" disabled="@(!context.Validate())">Записать Данные</button>
            </div>
    </EditForm>    
}



@code {
    [Parameter]
    public string DistrictName { get; set; }

    [Parameter]
    public string DistrictTable { get; set; }

    [Parameter]
    public string OverviewPage { get; set; }


    private int _selectedYear;
    public int SelectedYear
    {
        get { return _selectedYear; }
        set { _selectedYear = value; LoadDataYear(_selectedYear); }
    } 

    private int _selectedQuater;
    public int SelectedQuater
    {
        get { return _selectedQuater; }
        set { _selectedQuater = value; LoadDataQuarter(_selectedQuater); }
    }   

    private List<IPassportModel> passpCollection = new List<IPassportModel>();
    private IPassportModel passport = new DisplayPassportModel();

    private string resultMsg = "";

    protected override async Task OnParametersSetAsync()
    {
        SelectedYear = DateTime.Now.Year;
        SelectedQuater = 1;
        passpCollection = await passportData.QReadPassports(DistrictTable);
        passport = passpCollection.FirstOrDefault(p => p.YearInfo == SelectedYear && p.QuarterInfo == SelectedQuater) ?? new DisplayPassportModel() { YearInfo =  SelectedYear, QuarterInfo = SelectedQuater};
    }

    private async Task HandleValidSubmit()
    {
        await passportData.QAddData(passport, DistrictTable);
        resultMsg = "Данные сохранены!";
        passpCollection = await passportData.QReadPassports(DistrictTable);
    }

    private void LoadDataYear(int year)
    {
        passport = passpCollection.FirstOrDefault(p=>  p.YearInfo == year && p.QuarterInfo == SelectedQuater ) ?? new DisplayPassportModel() { YearInfo =  year, QuarterInfo = SelectedQuater};
        resultMsg = "";
    }

    private void LoadDataQuarter(int quarter)
    {
        passport = passpCollection.FirstOrDefault(p=>  p.YearInfo == SelectedYear && p.QuarterInfo == quarter) ?? new DisplayPassportModel() { YearInfo =  SelectedYear, QuarterInfo = quarter};
        resultMsg = "";
    }

    private void GoToOverviewPage()
    {
        UriHelper.NavigateTo(OverviewPage);
    }

}

