<AuthorizeView>
    <Authorized>
        <a href="#" class="text-success text-decoration-none">Текущий пользователь:  @context.User.Identity?.Name</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Выйти</button>
        </form>
    </Authorized>
    <NotAuthorized>
@*        <a href="Identity/Account/Register">Register</a>*@
        <a href="Identity/Account/Login">Войти</a>
    </NotAuthorized>
</AuthorizeView>
