<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Республика Татарстан</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column overflow-auto" style="height:800px">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> На главную
            </NavLink>
        </div>
        <div class="nav-item px-3">
             <NavLink class="nav-link" @onclick="ToggleShowKazan">
                 <span class=@chevron aria-hidden="true"></span>Казань
             </NavLink>
         </div>
        @if (showKazan)
        {
            <div class="border border-secondary">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ttr/kazanentry">
                        <span class="oi oi-list-rich" aria-hidden="true"></span><p>г. Казань</p>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ttr/kazan/aviastroyentry">
                        <span class="oi oi-list-rich" aria-hidden="true"></span><p>Авиастроительный</p>
                    </NavLink>
                </div>
               <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ttr/kazan/vakhitovskyentry">
                          <span class="oi oi-list-rich" aria-hidden="true"></span>Вахитовский
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/ttr/kazan/kirovskyentry">
                        <span class="oi oi-list-rich" aria-hidden="true"></span>Кировский
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/ttr/kazan/moskovskyentry">
                        <span class="oi oi-list-rich" aria-hidden="true"></span>Московский
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ttr/kazan/novosavinovskyentry">
                          <span class="oi oi-list-rich" aria-hidden="true"></span>Ново-Савиновский
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ttr/kazan/privolzhskyentry">
                          <span class="oi oi-list-rich" aria-hidden="true"></span>Приволжский
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ttr/kazan/sovetskyentry">
                          <span class="oi oi-list-rich" aria-hidden="true"></span>Советский
                    </NavLink>
                </div>
            </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/agryzentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Агрызский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/aznakayevoentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Азнакаевский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/aksubayevoentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Аксубаевский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/aktanyshentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Актанышский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/alexeyevskentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Алексеевский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/alkeyevskentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Алькеевский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/almetyevskentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Альметьевский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/apastovoentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Апастовский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/arskentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Арский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/atninskentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Атнинский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/bavlyentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Бавлинский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/baltasientry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Балтасинский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/bugulmaentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Бугульминский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/buinskentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Буинский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/verkhneuslonentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Верхнеуслонский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/vysokogorskentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Высокогорский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/drozhzhanovskentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Дрожжановский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/yelabugaentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Елабужский
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/zainskentry">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Заинский
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ttr/zelenodolskentry">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Зеленодольский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/kaybitsyentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Кайбицкий
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/kamskoustyinskentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Камско-Устьинский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/kukmoryentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Кукморский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/laishevoentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Лаишевский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/leninogorskentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Лениногорский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/mamadyshentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Мамадышский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/mendeleyevskentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Менделеевский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/menzelinskentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Мензелинский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/muslyumovoentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Муслюмовский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/chelnyentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Набережные Челны
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/nizhnekamskentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Нижнекамский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/novosheshminskentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Новошешминский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/nurlatentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Нурлатский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/pestrechinskentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Пестречинский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/rybslobodaentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Рыбно-Слободский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/sabinskentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Сабинский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/sarmanovoentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Сармановский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/spasskentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Спасский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/tetyushientry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Тетюшский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/tukayevskentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Тукаевский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/tyulyachientry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Тюлячинский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/cheremshanentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Черемшанский
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/chistopol entry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Чистопольский
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/yutazyentry">
                  <span class="oi oi-list-rich" aria-hidden="true"></span>Ютазинский
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool showKazan;
    private string chevron = "oi oi-chevron-bottom";

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleShowKazan()
    {
        showKazan = !showKazan;

        chevron = chevron=="oi oi-chevron-bottom"?"oi oi-chevron-top":"oi oi-chevron-bottom";
    }
}
