<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Республика Татарстан</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> На главную
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/kazan/aviastroyentry">
                <span class="oi oi-list-rich" aria-hidden="true"></span><p>Авиастроительный</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ttr/kazan/kirovskyentry">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Кировский
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ttr/kazan/moskovskyentry">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Московский район
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttr/zainskentry">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Заинский
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ttr/zelenodolskentry">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Зеленодольский
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
