@page "/SetUpRoles"
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Configuration

@inject RoleManager<IdentityRole> roleManager
@inject UserManager<IdentityUser> userManager
@inject IConfiguration config

<h3>Set Up Roles</h3>
<p>Роли и пользователи</p>

@code {
    protected override async Task OnParametersSetAsync()
    {
        await SetUpAuth();
    }

    private async Task SetUpAuth()
    {

        string[] roles = { "Aviastroy","Kirovsky","Moskovsky" };

        foreach(var r in roles)
        {
            var roleExists = await roleManager.RoleExistsAsync(r);

            if(roleExists == false)
            {
                await roleManager.CreateAsync(new IdentityRole(r));
            }
        }

        //var Tatarstan = await userManager.FindByEmailAsync(config.GetValue<string>("Logins:Tatarstan"));
        //if(Tatarstan != null)
        //{
        //    await userManager.AddToRoleAsync(Tatarstan, "Tatarstan");
        //}

        //var Kazan = await userManager.FindByEmailAsync(config.GetValue<string>("Logins:Kazan"));
        //if(Kazan != null)
        //{
        //    await userManager.AddToRoleAsync(Kazan, "Kazan");
        //}

        var Aviastroy = await userManager.FindByEmailAsync(config.GetValue<string>("Logins:Aviastroy"));
        if(Aviastroy != null)
        {
            await userManager.AddToRoleAsync(Aviastroy, "Aviastroy");
        }

        var Kirovsky = await userManager.FindByEmailAsync(config.GetValue<string>("Logins:Kirovsky"));
        if(Kirovsky != null)
        {
            await userManager.AddToRoleAsync(Kirovsky, "Kirovsky");
        }

        var Moskovsky = await userManager.FindByEmailAsync(config.GetValue<string>("Logins:Moskovsky"));
        if(Moskovsky != null)
        {
            await userManager.AddToRoleAsync(Moskovsky, "Moskovsky");
        }

        //var buauser = await userManager.FindByEmailAsync(config.GetValue<string>("BuaUser"));
        //if(buauser != null)
        //{
        //    await userManager.AddToRoleAsync(buauser, "bua");
        //}

        //var Admin = await userManager.FindByEmailAsync(config.GetValue<string>("Logins:Admin"));
        //if(Admin != null)
        //{
        //    foreach (var role in roles)
        //    {
        //        await userManager.AddToRoleAsync(Admin, role);
        //    }
        //}

        //var Zainsk = await userManager.FindByEmailAsync(config.GetValue<string>("Logins:Zainsk"));
        //if(Zainsk != null)
        //{
        //    await userManager.AddToRoleAsync(Zainsk, "Zainsk");
        //}

        //var Zelenodolsk = await userManager.FindByEmailAsync(config.GetValue<string>("Logins:Zelenodolsk"));
        //if(Zelenodolsk != null)
        //{
        //    await userManager.AddToRoleAsync(Zelenodolsk, "Zelenodolsk");
        //}
    }
}
