@page "/"

<PageTitle>Главная</PageTitle>

<h1 class="text-center">Паспорта районов Республики Татарстан</h1>
<h2 class="text-center">Добро пожаловать!</h2>
<br/><br/>
<div style="background-image: url('img/OL1000px.jpg'); height: 600px; background-repeat: no-repeat; background-position: center;">
    <h3 class="text-secondary text-center">Инструкция по заполнению пастпорта района:</h3>
    <ol class="h4 text-secondary">
        <li>Для ввода данных по вашему району - войдите в систему с предоставленным логином и паролем (правый верхний угол: Войти). Перейти в свой район можно по ссылке снизу или через панель навигации слева</li>
        <li>Выбор отчетного периода (год и квартал) выполнить до начала ввода данных. Если выбрать их после - данные сбросятся. Также данные не сохранятся, если покинуть страницу или перейти в другой район не нажав предварительно кнопку "Записать Данные".</li>
        <li>Поля ввода принемают неотрицательные целые числа, без сокращений (50000 вместо 50 тыс.)</li>
        <li>Перед нажатием кнопки "Записать Данные" укажите дату записи данных в конце таблицы.</li>
        <li>Можно сохранить таблицу заполнив её не до конца, продолжить и также исправить данные в любое время, выбрав год и квартал.</li>
    </ol>
    <br/>
    <AuthorizeView Roles="Kazan,Admin">
        <Authorized>
            <a href="ttr/kazanentry" class="text-decoration-none">
                <p class="h2 text-center">город Казань, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Aviastroy,Admin">
        <Authorized>
            <a href="ttr/kazan/aviastroyentry" class="text-decoration-none">
                <p class="h2 text-center">Авиастроительный район г.Казани, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>   
    <AuthorizeView Roles="Kirovsky,Admin">
        <Authorized>
            <a href="ttr/kazan/kirovskyentry" class="text-decoration-none">
                <p class="h2 text-center">Кировский район г.Казани, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>    
    <AuthorizeView Roles="Vakhitovsky,Admin">
        <Authorized>
            <a href="ttr/kazan/vakhitovskyentry" class="text-decoration-none">
                <p class="h2 text-center">Вахитовский район г.Казани, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>    
    <AuthorizeView Roles="Moskovsky,Admin">
        <Authorized>
            <a href="ttr/kazan/moskovskyentry" class="text-decoration-none">
                <p class="h2 text-center">Московский район г.Казани, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="NovoSavinovsky,Admin">
        <Authorized>
            <a href="ttr/novosavinovskyentry" class="text-decoration-none">
                <p class="h2 text-center">Ново-Савиновский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Privolzhsky,Admin">
        <Authorized>
            <a href="ttr/privolzhskyentry" class="text-decoration-none">
                <p class="h2 text-center">Приволжский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Sovetsky,Admin">
        <Authorized>
            <a href="ttr/sovetskyentry" class="text-decoration-none">
                <p class="h2 text-center">Советский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="Agryz,Admin">
        <Authorized>
            <a href="ttr/agryzentry" class="text-decoration-none">
                <p class="h2 text-center">Агрызский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Aznakayevo,Admin">
        <Authorized>
            <a href="ttr/aznakayevoentry" class="text-decoration-none">
                <p class="h2 text-center">Азнакаевский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Aksubayevo,Admin">
        <Authorized>
            <a href="ttr/aksubayevoentry" class="text-decoration-none">
                <p class="h2 text-center">Аксубаевский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Aktanysh,Admin">
        <Authorized>
            <a href="ttr/aktanyshentry" class="text-decoration-none">
                <p class="h2 text-center">Актанышский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Alexeyevsk,Admin">
        <Authorized>
            <a href="ttr/alexeyevskentry" class="text-decoration-none">
                <p class="h2 text-center">Алексеевский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Alkeyevsk,Admin">
        <Authorized>
            <a href="ttr/alkeyevskentry" class="text-decoration-none">
                <p class="h2 text-center">Алькеевский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Almetyevsk,Admin">
        <Authorized>
            <a href="ttr/almetyevskentry" class="text-decoration-none">
                <p class="h2 text-center">Альметьевский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Apastovo,Admin">
        <Authorized>
            <a href="ttr/apastovoentry" class="text-decoration-none">
                <p class="h2 text-center">Апастовский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Arsk,Admin">
        <Authorized>
            <a href="ttr/arskentry" class="text-decoration-none">
                <p class="h2 text-center">Арский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Atninsk,Admin">
        <Authorized>
            <a href="ttr/atninskentry" class="text-decoration-none">
                <p class="h2 text-center">Атнинский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Bavly,Admin">
        <Authorized>
            <a href="ttr/bavlyentry" class="text-decoration-none">
                <p class="h2 text-center">Бавлинский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Baltasi,Admin">
        <Authorized>
            <a href="ttr/baltasientry" class="text-decoration-none">
                <p class="h2 text-center">Балтасинский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Bugulma,Admin">
        <Authorized>
            <a href="ttr/bugulmaentry" class="text-decoration-none">
                <p class="h2 text-center">Бугульминский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Buinsk,Admin">
        <Authorized>
            <a href="ttr/buinskentry" class="text-decoration-none">
                <p class="h2 text-center">Буинский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Verkhneuslon,Admin">
        <Authorized>
            <a href="ttr/verkhneuslonentry" class="text-decoration-none">
                <p class="h2 text-center">Верхнеуслонский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Vysokogorsk,Admin">
        <Authorized>
            <a href="ttr/vysokogorskentry" class="text-decoration-none">
                <p class="h2 text-center">Высокогорский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Drozhzhanovsk,Admin">
        <Authorized>
            <a href="ttr/drozhzhanovskentry" class="text-decoration-none">
                <p class="h2 text-center">Дрожжановский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Yelabuga,Admin">
        <Authorized>
            <a href="ttr/yelabugaentry" class="text-decoration-none">
                <p class="h2 text-center">Елабужский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="Zainsk,Admin">
        <Authorized>
            <a href="ttr/zainskentry" class="text-decoration-none">
                <p class="h2 text-center">Заинский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="Zelenodolsk,Admin">
        <Authorized>
            <a href="ttr/zelenodolskentry" class="text-decoration-none">
                <p class="h2 text-center">Зеленодольский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="Kaybitsy,Admin">
        <Authorized>
            <a href="ttr/kaybitsyentry" class="text-decoration-none">
                <p class="h2 text-center">Кайбицкий район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="KamskoUstyinsk,Admin">
        <Authorized>
            <a href="ttr/kamskoUstyinskentry" class="text-decoration-none">
                <p class="h2 text-center">Камско-Устьинский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Kukmory,Admin">
        <Authorized>
            <a href="ttr/kukmoryentry" class="text-decoration-none">
                <p class="h2 text-center">Кукморский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Laishevo,Admin">
        <Authorized>
            <a href="ttr/laishevoentry" class="text-decoration-none">
                <p class="h2 text-center">Лаишевский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Leninogorsk,Admin">
        <Authorized>
            <a href="ttr/leninogorskentry" class="text-decoration-none">
                <p class="h2 text-center">Лениногорский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Mamadysh,Admin">
        <Authorized>
            <a href="ttr/mamadyshentry" class="text-decoration-none">
                <p class="h2 text-center">Мамадышский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Mendeleyevsk,Admin">
        <Authorized>
            <a href="ttr/mendeleyevskentry" class="text-decoration-none">
                <p class="h2 text-center">Менделеевский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Menzelinsk,Admin">
        <Authorized>
            <a href="ttr/menzelinskentry" class="text-decoration-none">
                <p class="h2 text-center">Мензелинский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Muslyumovo,Admin">
        <Authorized>
            <a href="ttr/muslyumovoentry" class="text-decoration-none">
                <p class="h2 text-center">Муслюмовский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Chelny,Admin">
        <Authorized>
            <a href="ttr/chelnyentry" class="text-decoration-none">
                <p class="h2 text-center">Город Набережные Челны, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Nizhnekamsk,Admin">
        <Authorized>
            <a href="ttr/nizhnekamskentry" class="text-decoration-none">
                <p class="h2 text-center">Нижнекамский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Novosheshminsk,Admin">
        <Authorized>
            <a href="ttr/novosheshminskentry" class="text-decoration-none">
                <p class="h2 text-center">Новошешминский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Nurlat,Admin">
        <Authorized>
            <a href="ttr/nurlatentry" class="text-decoration-none">
                <p class="h2 text-center">Нурлатский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Pestrechinsk,Admin">
        <Authorized>
            <a href="ttr/pestrechinskentry" class="text-decoration-none">
                <p class="h2 text-center">Пестречинский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="RybSloboda,Admin">
        <Authorized>
            <a href="ttr/rybslobodaentry" class="text-decoration-none">
                <p class="h2 text-center">Рыбно-Слободский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Sabinsk,Admin">
        <Authorized>
            <a href="ttr/sabinskentry" class="text-decoration-none">
                <p class="h2 text-center">Сабинский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Sarmanovo,Admin">
        <Authorized>
            <a href="ttr/sarmanovoentry" class="text-decoration-none">
                <p class="h2 text-center">Сармановский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Spassk,Admin">
        <Authorized>
            <a href="ttr/spasskentry" class="text-decoration-none">
                <p class="h2 text-center">Спасский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Tetyushi,Admin">
        <Authorized>
            <a href="ttr/tetyushientry" class="text-decoration-none">
                <p class="h2 text-center">Тетюшский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Tukayevsk,Admin">
        <Authorized>
            <a href="ttr/tukayevskentry" class="text-decoration-none">
                <p class="h2 text-center">Тукаевский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Tyulyachi,Admin">
        <Authorized>
            <a href="ttr/tyulyachientry" class="text-decoration-none">
                <p class="h2 text-center">Тюлячинский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Cheremshan,Admin">
        <Authorized>
            <a href="ttr/cheremshanentry" class="text-decoration-none">
                <p class="h2 text-center">Черемшанский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Chistopol,Admin">
        <Authorized>
            <a href="ttr/chistopolentry" class="text-decoration-none">
                <p class="h2 text-center">Чистопольский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
    
    <AuthorizeView Roles="Yutazy,Admin">
        <Authorized>
            <a href="ttr/yutazyentry" class="text-decoration-none">
                <p class="h2 text-center">Ютазинский район, ввод данных</p>
            </a>    
        </Authorized>
    </AuthorizeView>
</div>
